{% extends 'base.html' %}

{% block content %}

<div id="cookies" class="container">

    <div class="row mt-3">
        <div class="col">
            <h3>¿QUÉ SON LAS COOKIES?</h3>
            <p>Las cookies son pequeños ficheros que se instalan en el disco duro o en el navegador del ordenador,
                tablet, smartphone o
                dispositivo equivalente con funciones de navegación a través de Internet y ayudan a, entre otros:
                personalizar los
                servicios del titular de la web, facilitar la navegación y usabilidad a través de la misma,  obtener
                información
                agregada de los visitantes de la web, posibilitar la reproducción y visualización de contenido
                multimedia en la propia
                web, permitir elementos de interactuación entre el usuario y la propia web, habilitar herramientas de
                seguridad,
                etcétera.</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h3>DEFINICIONES UTILIZADAS EN ESTA POLÍTICA DE COOKIES</h3>
            <ul>
                <li>Usabilidad web: puede definirse como la experiencia que tiene un usuario cuando navega, utiliza e
                    interactúa con
                    una página web</li>
                <li>Información agregada: información no nominal, típicamente numérica y a efectos de proporcionar
                    información
                    estadística</li>
                <li>Equipo terminal: equipo (ordenador, smartphone, tablet, etc.) del usuario que navega por Internet
                </li>
                <li>Editor: responsable o titular de la página web</li>
                <li>Tercero: entidad externa, colaboradora, prestadora de servicios o relacionada con el editor,
                    interviniente en la
                    gestión de algunas cookies</li>
                <li>Responsable de la cookie: el editor, responsable, titular de la página web o, incluso, el tercero en
                    algunos
                    casos</li>
                <li>Hábitos de navegación: tendencias que muestra el usuario cuando navega través de una página web
                    como, por
                    ejemplo, tiempo que visita la página, partes que visita, secciones más frecuentes, origen de la
                    visita, destino
                    de la visita, entre otros.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h3>¿QUÉ TIPO DE COOKIES EXISTEN?</h3>
            <p>Según la entidad que la gestiona:</p>
            <p><u>Cookies propias</u>: son aquéllas que se envían al equipo terminal del usuario desde un equipo o
                dominio gestionado
                por el propio editor y desde el que se presta el servicio solicitado por el usuario.</p>
            <p><u>Cookies de terceros</u>: son aquéllas que se envían al equipo terminal del usuario desde un equipo o
                dominio que no
                es gestionado por el editor, sino por otra entidad que trata los datos obtenidos través de las cookies.
            </p>
            <p>Según el plazo de tiempo que permanecen activadas en el equipo terminal:</p>
            <p><u>Cookies de sesión</u>: son un tipo de cookies diseñadas para recabar y almacenar datos mientras el
                usuario accede a
                una página web.</p>
            <p><u>Cookies persistentes</u>: son un tipo de cookies en el que los datos siguen almacenados en el terminal
                y pueden ser
                accedidos y tratados durante un periodo definido por el responsable de la cookie, y que puede ir de unos
                minutos a
                varios años.</p>

            <p>Según la finalidad para la que se traten los datos obtenidos a través de las cookies:</p>

            <p><u>Cookies técnicas</u>: son aquéllas que permiten al usuario la navegación a través de una página web,
                plataforma o
                aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por
                ejemplo, controlar el
                tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido,
                recordar los
                elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de
                inscripción o
                participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos
                para la difusión
                de videos o sonido o compartir contenidos a través de redes sociales.</p>

            <p><u>Cookies de personalización</u>: son aquéllas que permiten al usuario acceder al servicio con algunas
                características
                de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como
                por ejemplo serían
                el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde
                donde accede al
                servicio, etc.</p>

            <p><u>Cookies de análisis</u>: son aquéllas que permiten al responsable de las mismas, el seguimiento y
                análisis del
                comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida
                mediante este tipo
                de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para
                la elaboración de
                perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de
                introducir mejoras en
                función del análisis de los datos de uso que hacen los usuarios del servicio.</p>

            <p><u>Cookies publicitarias</u>: son aquéllas que permiten la gestión, de la forma más eficaz posible, de
                los espacios
                publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde
                la que presta el
                servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se muestran
                los anuncio.</p>

            <p><u>Cookies de publicidad comportamental</u>: son aquéllas que permiten la gestión, de la forma más eficaz
                posible, de
                los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o
                plataforma desde la
                que presta el servicio solicitado. Estas cookies almacenan información del comportamiento de los
                usuarios obtenida a
                través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil
                específico para
                mostrar publicidad en función del mismo.</p>

        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h3>¿CÓMO DESACTIVAR LAS COOKIES?</h3>
            <p>
                El bloqueo o desactivación de todas las cookies ayuda a proteger la privacidad, pero también puede
                limitar la
                experiencia en algunos sitios web, así como limitar funcionalidades o, incluso, no permitir la correcta
                navegación o
                utilización de algunos de sus servicios. Si quieres saber cómo desactivar las cookies en los navegadores
                web más
                populares, accede a los siguientes tutoriales:</p>
            <ul>
                <li><a href="http://support.google.com/chrome/answer/95647?hl=es">Google Chrome</a></li>
                <li><a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">Mozilla
                        Firefox</a></li>
                <li><a href="http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies">Internet
                        Explorer</a></li>
                <li><a href="http://support.apple.com/es-es/HT1677">Safari</a></li>
                <li><a href="http://support.google.com/chrome/answer/2392971?hl=es">Chrome para Android</a></li>
                <li><a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html">Opera</a></li>
            </ul>
            <p>Si tienes alguna pregunta o duda acerca de esta Política de Cookies, puedes ponerte en contacto con
                nosotros a través de
                <a href="mailto:david_sc@mail.com">david_sc@mail.com</a></p>
        </div>
    </div>

</div>

{% endblock %}