{% extends 'base.html' %}

{% block content %}

<div id="login" class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-10 col-lg-5 card-title">
            Acceder
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-lg-5 card-body">
            <form method="POST">
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" type="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Clave</label>
                    <input name="password" type="password" class="form-control" required>
                </div>

                <button name="login_button" type="submit" class="btn btn-primary mt-1" value="login">Acceder</button>

            </form>
            <div class="border-top text-black-50 font-italic mt-5">
                ¿No tienes cuenta? <a class="text-reset" href="{{ url_for('UI_User.register') }}">Crea una fácilmente desde aquí</a>.<br>
                ¿Has olvidado tu clave? <a class="text-reset" href="{{ url_for('UI_User.request_new_password') }}">Introduce uno nuevo aquí</a>.
            </div>
        </div>
    </div>
</div>

{% endblock %}