{% extends 'base.html' %}

{% block content %}

<div id="privacy" class="container">

    <div class="row mt-3">
        <div class="col">
            <h3>¿QUIÉN ES EL RESPONSABLE DEL TRATAMIENTO?</h3>
            <ul>
                <li>David Sirvent Candela</li>
                <li>48359626X</li>
                <li>Joan Fuster, 4, 03440 Ibi (Alicante) Spain</li>
                <li>david_sc@mail.com</li>
            </ul>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h3>¿CON QUÉ FINALIDAD TRATAMOS LOS DATOS PERSONALES?</h3>
            <p>En www.homenu.com se tratan los datos personales con las siguientes finalidades:</p>
            <ul>
                <li>Contacto: responder a las solicitudes de información recibidas sobre los productos y servicios que
                    se ofrecen, así como dar respuesta a cualquier otro tipo de pregunta que envíen los usuarios</li>
            </ul>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h3>¿DURANTE CUÁNTO TRATAMOS LOS DATOS PERSONALES?</h3>
            <p>En www.homenu.com se tratan los datos personales durante los siguientes plazos:</p>
            <ul>
                <li>Contacto: el plazo de conservación de los datos será mientras el usuario no manifieste su derecho de
                    supresión</li>
            </ul>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h3>¿CUÁL ES LA LEGITIMACIÓN PARA EL TRATAMIENTO DE LOS DATOS?</h3>
            <p>Al acceder a nuestra web y rellenar los formularios o enviarnos datos a través de los medios de contacto
                electrónicos indicados, aceptas esta Política de Privacidad. Es por ello, que nos basamos en el
                consentimiento del usuario para el tratamiento de sus datos. Adicionalmente, te informamos que sólo
                usaremos la información de carácter personal en virtud de esta Política de Privacidad y, con carácter
                general, solicitaremos tu consentimiento para usos con fines distintos de aquéllos para los cuales los
                otorgaste inicialmente. Finalmente, te informamos que puedes retirar el consentimiento en cualquier
                momento, solo tendrás que ponerte en contacto con nosotros a través de los medios indicados en esta
                política de privacidad</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h3>¿CON QUIÉN COMPARTIMOS LOS DATOS PERSONALES?</h3>
            <p>Los datos personales recabados no serán en ningún caso cedidos a terceros ni hechos públicos, salvo en
                los supuestos en que lo consienta, participe voluntariamente o por obligaciones legales expresas.</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h3>¿QUÉ DERECHOS PUEDES EJERCER?</h3>
            <p>El interesado podrá ejercitar sus derechos sobre protección de datos (acceso, rectificación, oposición,
                supresión,
                decisiones automatizadas, limitación del tratamiento, portabilidad) por correo electrónico en
                david_sc@mail.com, o
                por correo postal en CL JOAN FUSTER, 4. 03440, IBI (ALICANTE). Deberá aportarse documentación que
                acredite la
                identidad del solicitante (copia del anverso del Documento Nacional de Identidad, o equivalente). El
                plazo de
                respuesta máximo será de 30 días desde su recepción, pudiendo prorrogarse como máximo por un plazo de 2
                meses
                siempre que sea necesario.

                En cualquier caso, puede solicitar la tutela de la Agencia Española de Protección de Datos a través de
                su página
                web.</p>
        </div>
    </div>

</div>

{% endblock %}